<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
   
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <!--连接提供者 默认-->
    
    <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
    <!--需指定使用数据库的方言-->

    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <!--驱动器选择-->
    
    <property name="connection.connection_string">Server=127.0.0.1; Database=game01; User ID=root; password=root;</property>
    <!--使用的数据库信息-->

    <property name="show_sql">false</property>
    <!-- 是否在console中显示sql语句-->

  </session-factory>  
</hibernate-configuration>


